body{
font-family:Poppins;
margin:0;
background:#f4f7f4;
}


/* HEADER */

.header{
background:#0a5c2f;
color:white;
padding:15px;
}

.nav{
display:flex;
justify-content:space-between;
max-width:1100px;
margin:auto;
}

.menu a{
color:white;
margin-left:15px;
text-decoration:none;
}


/* HERO */

.hero{
background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url('https://images.unsplash.com/photo-1505751172876-fa1923c5c528');
background-size:cover;
color:white;
text-align:center;
padding:100px 20px;
}

.btn{
background:#00a651;
color:white;
padding:12px 25px;
text-decoration:none;
display:inline-block;
margin-top:15px;
border-radius:6px;
}


/* POSTER */

.poster-section{
text-align:center;
padding:40px;
background:white;
}

.poster{
width:90%;
max-width:700px;
border-radius:10px;
}


/* DOCTOR */

.doctor-section{
padding:50px;
background:white;
text-align:center;
}

.doctor-box{
display:flex;
justify-content:center;
align-items:center;
gap:40px;
flex-wrap:wrap;
}

.doctor-img{
width:260px;
border-radius:10px;
box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

.doctor-text{
max-width:500px;
text-align:left;
}


/* SERVICES */

.section{
padding:50px;
text-align:center;
}

.light{
background:white;
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.card{
background:white;
padding:20px;
width:260px;
box-shadow:0 0 10px #ccc;
border-radius:10px;
}

.contact{
background:#e8f5e9;
}

footer{
background:#0a5c2f;
color:white;
padding:15px;
text-align:center;
}


/* FLOAT BUTTONS */

.call-float{
position:fixed;
bottom:90px;
right:20px;
background:#0a5c2f;
color:white;
padding:15px;
border-radius:50%;
text-decoration:none;
}

.whatsapp-float{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
padding:15px;
border-radius:50%;
text-decoration:none;
}